name: Go

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [ master ]

jobs:

  Lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v1
        with:
          version: v1.26
  Test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    name: Test
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Run Unit tests.
        run: make test
        env:
          MQTT_TEST_SERVER: ${{ secrets.MQTT_TEST_SERVER }}

